
.btn-get-started {
    background-color: #3b4ef8;
}


.about .content .minicontainer .about-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.05);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}